spring:
  application:
    name: learning_spring_batch
  datasource:
    url: jdbc:h2:file:~/batch_db
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        show_sql: false
    database: batch
    database-platform: org.hibernate.dialect.H2Dialect
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false # on ne souhaite pas que tous les jobs se lancent au démarrage de l'application
